@page
@model SurveySite.Pages.QuestionPages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit question</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Question.Id" />
            <div class="form-group">
                <label asp-for="Question.QuestionString" class="control-label"></label>
                <input asp-for="Question.QuestionString" class="form-control" />
                <span asp-validation-for="Question.QuestionString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.QuestionType" class="control-label"></label>
                <select asp-for="Question.QuestionType" class="form-control">
                    <option value="">Select a type</option>
                    <option value="Text">Text</option>
                    <option value="Radio">Radio</option>
                    <option value="MultipleChoice">Multiple Choice</option>
                </select>
                <span asp-validation-for="Question.QuestionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to question List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
